<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define VERSION="!(bind.FileVersion.PCoMD.exe)"?>
  <Product Id="*" Name="PCoMD" Language="1033" Version="$(var.VERSION)"
           Manufacturer="Florins Cédric &amp; Lecomte Thierry"
           UpgradeCode="46e52120-a590-4388-80b1-a1b52ee251d3">
    <Package Id="*" InstallerVersion="500" Manufacturer="Florins Cédric &amp; Lecomte Thierry" Platform="x86"
             InstallPrivileges="elevated" InstallScope="perMachine"
             Compressed="yes"
             Description="A utility to synchronize Outlook to Google calendars." />
    <!--Upgrade Message-->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."
                  AllowSameVersionUpgrades="yes" MigrateFeatures="yes" Schedule="afterInstallFinalize"
                  />
    <!--Do not create cab file separately-->
    <MediaTemplate EmbedCab="yes" />

    <!--Check for .Net framework 4.5-->
    <PropertyRef Id="NETFRAMEWORK45" />
    <Condition
      Message="This application requires .NET Framework 4.5. Please install the .NET Framework then run this installer again. You can download it from https://www.microsoft.com/en-in/download/details.aspx?id=30653">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>
    <!--Packaging features-->
    <Feature Id="ProductFeature" Title="PCoMD" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="UserGuide" />
      <ComponentGroupRef Id="ReleaseNotesGroup" />
      <ComponentGroupRef Id="ApplicationShortcuts" />
    </Feature>

    <!--Custom Dialog Sequence--><!--
    <UI>
      <UIRef Id="WixUI_ErrorProgressText" />
      <UIRef Id="UISequence" />
    </UI>-->

    <Icon Id="icon.ico" SourceFile="..\CalendarSyncPlus.Presentation\icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <WixVariable Id="WixUIBannerBmp" Value="WixTopBanner.png" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!--Install Directory structure-->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="PCoMD">
          <Directory Id="USERGUIDEFOLDER" Name="UserGuide" />
          <Directory Id="RELEASENOTESFOLDER" Name="ReleaseNotes" />
        </Directory>
      </Directory>
      <!--Shortcut Directory structure-->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="PCoMD" />
      </Directory>
    </Directory>
    <ComponentGroup Id="ApplicationShortcuts" Directory="ApplicationProgramsFolder">
      <Component Id="ApplicationStartMenuShortcut" Guid="591a8bd1-2779-4e97-808e-defb2ea6a595">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="PCoMD"
                  Description="A utility to synchronize Outlook to Google calendar."
                  Target="[#PCoMD.exe]"
                  WorkingDirectory="INSTALLFOLDER" Icon="icon.ico" />
        <!--<Shortcut Id="UninstallProduct"
                          Name="Uninstall PCoMD"
                          Description="Uninstalls PCoMD"
                          Target="[System64Folder]msiexec.exe"
                          Arguments="/x [ProductCode]"/>-->

        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Florins Cedric &amp; Lecomte Thierry\PCoMD" Name="installed"
                       Type="integer" Value="00000001" KeyPath="yes" />
      </Component>

      <!--<Component Id="SecurityRegistryValue">
        <RegistryValue Root="HKCU" Key="Software\Policies\Microsoft\Security" Name="CheckAdminSettings" Type="integer" Value="00000001" KeyPath="yes"/>
      </Component>-->
      <Component Id="RunAtStartUpRegistry">
        <RegistryValue Root="HKCU" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run" Name="PCoMDStartup"
                       Type="string" Value="[#PCoMD.exe] /MINIMIZED" KeyPath="yes" />
      </Component>
      <Component Id="FirstLaunchRegistry">
        <RegistryValue Root="HKCU" Key="Software\Florins Cedric &amp; Lecomte Thierry\PCoMD" Name="FirstLaunch"
                       Type="integer" Value="00000001" KeyPath="yes" />
      </Component>
    </ComponentGroup>

  </Product>

</Wix>